<a href="https://colab.research.google.com/github/Gonyim/BackendOrmi/blob/main/deep_dive_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# colab 사용법

** MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.

1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운

  ```
  # hello
  ## hello
  ### hello

  1. hello
  2. hello
  3. hello

  * hello
  * hello
  * hello
  ```

* 선택 마크다운(필수가 아니니 부담가지지마세요.)

      # h1
      ## h2
      ### h3
      #### h4
      ##### h5
      ###### h6

---

      1. hello
      2. hello
      3. hello

      * hello
      * hello
      * hello

      - hello
      - hello
      - hello

      __굵게__
      **굵게**
      _기울여 쓰기_
      *기울여 쓰기*
      ~취소선~
      ~~취소선~~

      > 인용문 작성하기
      `인라인 코드는 이렇게 작성해요.`

      [인라인 링크](https://velog.io/)

      ![이미지 설명](이미지 링크)


      * table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
      | 1 | 2     | 3 | 4 | 5     |
      |---|-------|---|---|-------|
      | 1 | hello | 3 | 4 | world |

      * [ ] hello
      * [X] hello

#Python

In [1]:
#행 단위 주석입니다.
"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

#행 단위 주석입니다.
'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [2]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [3]:
def connect_to_next_port(self, minimum: int) -> int:
    '''Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    '''
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [4]:
# 띄어쓰기 4칸 (tab(스페이스 4칸과 다릅니다!). 6칸, 7칸 다 작동합니다.)
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
    print('큰 따옴표로 세번 묶거나')

0
큰 따옴표로 세번 묶거나
1
큰 따옴표로 세번 묶거나
2
큰 따옴표로 세번 묶거나
3
큰 따옴표로 세번 묶거나
4
큰 따옴표로 세번 묶거나
5
큰 따옴표로 세번 묶거나
6
큰 따옴표로 세번 묶거나
7
큰 따옴표로 세번 묶거나
8
큰 따옴표로 세번 묶거나
9
큰 따옴표로 세번 묶거나

In [5]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello():
    return

class A:
    pass

n = hello # function
o = print # bulit-in function
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')+

SyntaxError: ignored

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

In [ ]:
print(type(a))

In [ ]:
dir(a)

In [ ]:
# 이스케이프 문자자
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

In [ ]:
hello = 10

print(r'hello \n world') # str -> raw (Django 2.x까지 url parsing을 이렇게 사용하고 있어요)
print(f'hello \n world {hello}') # 앞으로 f-string 기법
print('hello world {}'.format(hello))

In [ ]:
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

In [ ]:
print(2.3e-3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3 * (10 ** -3)

In [ ]:
class A: # 자동차 공장
    pass

    a = A # class
    b = A() # instance # 자동차

    print(type(a))
    print(type(b))

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

In [ ]:
# 위만큼 자주사용하진 않지만 타입 확인 코드
a = 10
isinstance(a, int)
isinstance(a, float)

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만
# y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x), id(y) # id는 누굴 가리키고 있는지 그 주소값을 반환합니다.

In [ ]:
x is y

In [ ]:
x = 257
y = 257

id(x), id(y)

In [ ]:
x is y

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x), id(y)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

In [ ]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속 -> 코드로 구현
# 이러한 약속들은 매직메서드(__init__.....)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

In [ ]:
int('10') + int('10')

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 '약속'을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'kimgwonyi'

int('10') + int('10')

In [ ]:
class int(int):
    def __add__(self, a):
        return self * a

int('10') + int('10')

In [ ]:
dir(10)

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

In [ ]:
value.제곱(3)

In [ ]:
x = 10
y = x
z = y

print(id(x), id(y), id(z))

In [ ]:
x = 10
y = x
x = 100

print(x, y)
print(id(x), id(y), id(z))

###변수의 속성성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법 (Python에서 주로)
hello_world = 10

# 카멜 표기법 (JavaScript에서 주로)
helloWorldHello = 10

# 파스칼 표기법 (Class 같은 곳에서 많이 사용합니다.)
Hello = 10

In [ ]:
# 10hello = 100 (안됨)
hello10 = 100

In [ ]:
_ = 100 # 언더바는 자주사용되는데 이렇게 사용되진 않습니다.
print(_)

3.14
100

In [ ]:
a = 100

In [ ]:
# if = 100
# print = 100

In [ ]:
print = 100

In [ ]:
print(a)

## 입력과 출력

In [6]:
x = input()
x

10

'10'

In [7]:
x + x # 사용자에게 받은 입력은 str

'1010'

In [9]:
print(10, 10, 10)

10 10 10

In [10]:
print('hello', 'world', 'hello')

hello world hello

In [11]:
print(x, x)

10 10

In [15]:
min(['hello', 'world', 'hi'], key=len)
sum([[1, 2, 3], [4, 5, 6]], [])

[1, 2, 3, 4, 5, 6]

In [17]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')
# end 옵션은 나와 다음꺼 나올때 뭐 붙일거냐? 디폴트 \n

hello world!hello world!hello world!

In [19]:
print('hello', 'world', sep='!')
print('010', '5044', '2903', sep='-')
# sep 는 두개를 어떻게 붙일거냐냐

hello!world
010-5044-2903

In [33]:
이름 = '김권이'
나이 = 10
print('1. 제 이름은 김권이입니다. 제 나이는 10입니다.')
print('2. 제 이름은 ', 이름, '입니다. 제 나이는 ', 나이, '입니다.', sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다, ' %(이름, 나이))
print('4, 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print(f'4, 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

1. 제 이름은 김권이입니다. 제 나이는 10입니다.
2. 제 이름은 김권이입니다. 제 나이는 10입니다.
3. 제 이름은 김권이입니다. 제 나이는 10입니다,
4, 제 이름은 김권이입니다. 제 나이는 10입니다.
4, 제 이름은 김권이입니다. 제 나이는 10입니다.

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [35]:
print(f'{100 * 10}')

1000

In [37]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다.
result = 100 * 10
print(f'{result}')

1000

In [40]:
#이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.

print(f'{"hello":<10}') #왼쪽 정렬
print(f'{"hello":>10}') #오른쪽 정렬
print(f'{"hello":^10}') #중앙 정렬

hello
     hello
  hello

In [46]:
txt = 'hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}')

     hello
     hello

In [48]:
#이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.

print(f'{"hello":!<10}') #왼쪽 정렬
print(f'{"hello":!>10}') #오른쪽 정렬
print(f'{"hello":!^10}') #중앙 정렬

hello!!!!!
!!!!!hello
!!hello!!!

In [49]:
#이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.

print(f'{"hello":=<10}') #왼쪽 정렬
print(f'{"hello":=>10}') #오른쪽 정렬
print(f'{"hello":=^10}') #중앙 정렬

hello=====
=====hello
==hello===

In [51]:
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

01001

In [52]:
# 요정도 활용을 합니다.
print(f'{"start":-^20}')

-------start--------

In [53]:
print(f'{0.12345:0.2f}')

0.12

* 이 아래 코드는 필수는 아닙니다.
참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

##int

* 파이썬에서는 숫자를 정수, 실수, 복소수로 나눠 표현합니다.
* 2진수, 8진수, 16진수는 정수로 표현됩니다.

In [55]:
10 # 정수
-10 # 정수
10.1 # 실수

a = 10
type(a)
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [56]:
'bit_length' # bit로 바꾸었을 때 비트의 길이
'to_bytes'

'to_bytes'

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024Kb 
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [58]:
(9).bit_length() # 1001

4

In [64]:
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

# 컴퓨터가 숫자를 어떻게 저장하는가

b'\xfe'

In [65]:
# 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보수를 사용합니다.
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됨으로 비트 하나를 낭비하게 됩니다.
# 따라서 2의 보수를 사용합니다.

In [66]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 1의 2의 보수 => ff

In [67]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺀다.

# 10진법
# 0 1 2 3 4 5 6 7 8 9 -> 10
#1324 = 1*10^3 + 3*10^2 + 2*10^1 + 4*10^0

# 2진법
#0 1 -> 10
# 1001 = 1*2^3 + 1*2^0 = 9

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f

In [68]:
# color의 표현
# 2596be
# 000000 ~ ffffff
# ff는 10진수로 무슨 숫자를 의미
# 100 - 1 = ff가 됩니다. 그래서 256 - 1

In [70]:
a = 10
type(a)

int

In [75]:
int('10') + int('10')

20

In [77]:
int('10', 2) # 2진법으로 10은?

2

In [79]:
int('10', 8) # 8진법으로 10은?

8

In [81]:
int('10', 16) # 16진법으로 10은?

16

In [84]:
print(0b110) # 바이너리 - 2진수
print(0o110) # 옥타 - 8진수
print(0x110) # 헥사 - 16진수

6
72
272

In [85]:
a = 10
type(a) == int
isinstance(a, int)

True

### float (실수)

In [87]:
a = 10.1

type(a)

float

In [88]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [90]:
a = 10
b = 10.1

a + b # 다른 일부 언어에서는 허용되지 않습니다.

20.1

In [92]:
# 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1 + 0.2 # 대부분의 언어 공통입니다.

0.30000000000000004

In [112]:
# 20번 반복해보세요
a = a + 0.1
a

2.0000000000000004

In [113]:
'hello'.count('')

6

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)